* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: rgba(17, 24, 39);
  color: rgba(255, 255, 255, 0.747);
}



.icon-item {
  font-size: 36px;
}

.input-block {
  padding: 10px 6px;
  width: 100%
}