.footer-text {
    color: rgba(255, 255, 255, 0.747);
    text-decoration: none;
    transition: all 0.3s;
    font-size: 14px;
    text-align: center;
}

.footer {
    margin: 26px;
    width: 100%;
    height: 40px;
    text-align: center;
}

.footer-text:hover {
    color: red;
    font-size: 15px;

}