.container {
    background-color: rgba(17, 24, 39);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    color: red;
    padding: 24px 0px;
    align-items: center;
    padding: 24px;
}

.navbar__navbar-right {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.navbar__navbar-middle {
    width: 25%;
    display: flex;
    align-items: center;
    column-gap: 8px;
}


/*********************************************/
.navbar__navbar-middle__search {
    padding: 8px 6px;
    width: 100%
}

.navbar__navbar-left__logo {
    color: red;
}


.search-icon {
    font-size: 22px;
}

.acitve {
    color: red;
    text-decoration: none;
    padding: 0px;
}

.deactive {

    color: white;
    text-decoration: none;
}

.button-active {
    background-color: red;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    border: none;
}

.button-deactive {
    background-color: rgba(17, 24, 39);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    border: 2px solid white;
    color: white;
}